{% extends 'base.html' %}

{% block title %}
Edit Buku
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto py-8">
    <h2 class="text-2xl font-bold text-gray-800 mb-6">Mengedit Buku {{book.judul}}</h2>

    <!-- Show Flash Message -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="bg-white p-6 rounded-lg shadow-md space-y-4 mb-6">
        <ul class="flashes">
            <li class="alert alert-warning text-red-500 text-xl font-bold">{{ messages[-1] }}</li>
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <!-- Buku Edit Form -->
    <form method="POST" class="bg-white p-6 rounded-lg shadow-md space-y-4">
        <!-- Judul -->
        <div>
            <label for="judul" class="block text-sm font-medium text-gray-700">Judul</label>
            <input type="text" name="judul" id="judul" required
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200"
                placeholder="{{book.judul}}" value="{{book.judul}}">
        </div>

        <!-- Pengarang -->
        <div>
            <label for="pengarang" class="block text-sm font-medium text-gray-700">Pengarang</label>
            <input type="text" name="pengarang" id="pengarang" required
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200"
                placeholder="{{book.pengarang}}" value="{{book.pengarang}}">
        </div>

        <!-- Kategori -->
        <div>
            <label for="category_id" class="block text-sm font-medium text-gray-700">Kategori</label>
            {% for category in categories %}
            <input name="category_id" id="category_id" type="checkbox"
                class="rounded text-blue-500 focus:ring focus:ring-blue-200" value="{{category.id}}" {% if category.id
                in selected_categories %}checked{% endif %}>
            <label for="category_id" class="ml-2 mr-10 text-sm text-gray-700">{{category.nama}}</label>
            {% endfor %}
        </div>

        <!-- Submit Button -->
        <div>
            <button type="submit"
                class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded shadow-sm">
                Edit Book
            </button>
        </div>
    </form>

    <!-- Tombol kembali ke daftar buku -->
    <div class="flex justify-between my-6">
        <a href="/books" class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded" type="button">
            Kembali
        </a>
    </div>
</div>

{% endblock %}