{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto py-8">
    <!-- Button Section -->
    <div class="flex justify-start gap-3 mb-6">
        <a href="members" class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded" type="button">
            Daftar Member
        </a>
        <a href="books" class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded" type="button">
            Daftar Buku
        </a>
        <a href="categories" class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded"
            type="button">
            Daftar Kategori
        </a>
    </div>

    <!-- Show Flash Message -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="bg-white p-6 rounded-lg shadow-md space-y-4 mb-6">
        <ul class="flashes">
            <li class="alert alert-warning text-red-500 text-xl font-bold">{{ messages[-1] }}</li>
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <!-- Book List Section -->
    <div class="bg-white rounded-lg shadow-md p-6">
        <div class="flex justify-between items-center mb-5  ">
            <h2 class="text-xl font-bold mb-4">Book List</h2>
            <!-- Formulir Filter -->
            <form action="/" method="GET" class="grid grid-cols-1 justify-items-end gap-4">
                <label for="kategori">Select Category:</label>
                <select name="kategori" id="kategori" onchange="this.form.submit()"
                    class="block px-4 py-2 text-base text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    <option disable>-- Categories --</option>
                    <option value="" class="font-bold">Show All</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if selected_category_id==category.id %}selected{% endif %} >
                        {{ category.nama }}
                    </option>
                    {% endfor %}
                </select>
            </form>
        </div>


        <ul class="space-y-4">
            <!-- Header Row -->
            <li
                class="flex items-center justify-stretch border-b-2 border-gray-300 py-2 font-semibold text-white bg-blue-500">
                <!-- Index Column -->
                <p class="px-2 text-center">No</p>

                <!-- Title Column -->
                <div class="w-1/6 flex-none pr-2">Title</div>

                <!-- Author Column -->
                <div class="w-1/4 flex-none pr-4">Author</div>

                <!-- Categories Column -->
                <div class="w-fit flex-auto pr-4">Categories</div>

                <!-- Borrower Column -->
                <div class="w-1/6 flex-none text-center">Borrower</div>

                <!-- Action Column -->
                <div class="w-fit text-center flex-none px-6">Actions</div>
            </li>

            {% for book in books %}
            <li class="flex items-center justify-stretch border-b py-2">
                <!-- Index Column -->
                <p class="px-2 text-center">{{ loop.index }}</p>

                <!-- Title Column -->
                <div class="w-1/6 flex-none pr-2">
                    <h3 class="font-semibold text-gray-800 truncate">{{ book.judul }}</h3>
                </div>

                <!-- Author Column -->
                <div class="w-1/4 flex-none pr-4">
                    <p class="text-sm text-gray-600 truncate">Author: {{ book.pengarang }}</p>
                </div>

                <!-- Categories Column -->
                <div class="w-fit flex-auto pr-4">
                    <p class="text-sm text-gray-600 truncate">Categories:</p>
                    <p class="text-sm text-gray-600 truncate">
                        {% for category in book.categories %}
                        {{ category.category.nama }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>

                <!-- Borrower Column -->
                <div class="w-1/6 flex-none text-center">
                    {% for member in members %}
                    {% if book.member['id'] == member['id'] %}
                    <p class="text-sm text-gray-600">{{book.member.nama}}</p>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- Action Column -->
                <div class="w-fit text-center flex-none">
                    {% if book.anggota_id is none %}
                    <!-- Borrow Button -->
                    <a href="{{ url_for('borrow_book', id=book.id) }}"
                        class="text-sm bg-green-100 text-green-500 px-3 py-1 rounded hover:bg-green-500 hover:text-white">
                        Pinjamkan
                    </a>
                    {% else %}
                    <!-- Return Button -->
                    <a href="{{ url_for('return_book', id=book.id) }}"
                        class="text-sm bg-red-100 text-red-500 px-3 py-1 rounded hover:bg-red-500 hover:text-white">
                        Kembalikan
                    </a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>


{% endblock %}